<a href="https://colab.research.google.com/github/Karmabir-Brahma/ML/blob/master/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

## Creating a DataFrame

The following code cell creates a simple DataFrame containing 10 cells organized as follows:

  * 5 rows
  * 2 columns, one named `temperature` and the other named `activity`

The following code cell instantiates a `pd.DataFrame` class to generate a DataFrame. The class takes two arguments:

  * The first argument provides the data to populate the 10 cells. The code cell calls `np.array` to generate the 5x2 NumPy array.
  * The second argument identifies the names of the two columns.

In [21]:
#Create and populate a 5x2 NumPy array
my_data = np.array([[1,6],[23,4],[10,3],[29,5],[37,9]])
print(my_data)

#Create a python list that holds the names of the two columns
my_columns = ['temperature','activity']

#Create a DataFrame
my_dataframe = pd.DataFrame(data=my_data, columns=my_columns)

#Print the entire DataFrame
print(my_dataframe)

[[ 1  6]
 [23  4]
 [10  3]
 [29  5]
 [37  9]]
   temperature  activity
0            1         6
1           23         4
2           10         3
3           29         5
4           37         9

## Adding a new column to a DataFrame

You may add a new column to an existing pandas DataFrame just by assigning values to a new column name. For example, the following code creates a third column named `adjusted` in `my_dataframe`:

In [4]:
my_dataframe['adjusted'] = my_dataframe['activity']+2
print(my_dataframe)

   temperature  activity  adjusted
0            1         6         8
1           23         4         6
2           10         3         5
3           29         5         7
4           37         9        11

## Specifying a subset of a DataFrame

Pandas provide multiples ways to isolate specific rows, columns, slices or cells in a DataFrame.

In [16]:
print("Rows #0, #1 and #2:")
print(my_dataframe.head(3),'\n')

print("Row #2:")
print(my_dataframe.iloc[[2]],'\n')

print("Rows #1, #2 and #3:")
print(my_dataframe[1:4],'\n')

print("Cloums 'tempereture':")
print(my_dataframe['temperature'])

Rows #0, #1 and #2:
   temperature  activity  adjusted
0            1         6         8
1           23         4         6
2           10         3         5

Row #2:
   temperature  activity  adjusted
2           10         3         5

Rows #1, #2 and #3:
   temperature  activity  adjusted
1           23         4         6
2           10         3         5
3           29         5         7

Cloums 'tempereture':
0     1
1    23
2    10
3    29
4    37
Name: temperature, dtype: int64

## Task 1: Create a DataFrame

Do the following:

  1. Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named `Eleanor`,  `Chidi`, `Tahani`, and `Jason`.  Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

  2. Output the following:

     * the entire DataFrame
     * the value in the cell of row #1 of the `Eleanor` column

  3. Create a fifth column named `Janet`, which is populated with the row-by-row sums of `Tahani` and `Jason`.

To complete this task, it helps to know the NumPy basics covered in the NumPy UltraQuick Tutorial.

In [42]:
datas = np.random.randint(low=0, high=101, size=(3,4))
column_name = ['Eleanor','Chidi','Tahani','Jason']

my_DataFrame = pd.DataFrame(data=datas,columns=column_name)
print(my_DataFrame,'\n')

print("The value in the cell of row #1 of the Eleanor column: %d\n" % my_DataFrame['Eleanor'][1])

my_DataFrame['Janet'] = my_DataFrame['Tahani'] + my_DataFrame['Jason']
print(my_DataFrame)

   Eleanor  Chidi  Tahani  Jason
0       16     15      43     90
1       33     41      71     74
2       84     66      83     54

The value in the cell of row #1 of the Eleanor column: 33

   Eleanor  Chidi  Tahani  Jason  Janet
0       16     15      43     90    133
1       33     41      71     74    145
2       84     66      83     54    137

In [ ]:
#@title Double-click for a solution to Task 1.

# Create a Python list that holds the names of the four columns.
my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

# Create a 3x4 numpy array, each cell populated with a random integer.
my_data = np.random.randint(low=0, high=101, size=(3, 4))

# Create a DataFrame.
df = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(df)

# Print the value in row #1 of the Eleanor column.
print("\nSecond row of the Eleanor column: %d\n" % df['Eleanor'][1])

# Create a column named Janet whose contents are the sum
# of two other columns.
df['Janet'] = df['Tahani'] + df['Jason']

# Print the enhanced DataFrame
print(df)